* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f9fc;
  color: #222;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* Navigation */
header {
  background-color: #4F46E5;
  color: #fff;
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Header Section*/
.header{
  background: linear-gradient(135deg, #4F46E5, #22D3EE);
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.header h2{
  font-size: 36px;
  margin-bottom: 15px;
}

.header p{
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  background-color: #fff;
  color: #4F46E5;
  padding: 12px 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #e0e7ff;
}

/* About Section */
.about {
  background-color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.about h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.about p {
  font-size: 17px;
  max-width: 800px;
  margin: auto;
}

.btn-secondary {
  background-color: #4F46E5;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
}

.btn-secondary:hover {
  background-color: #3730a3;
}

/* Skills Section */
.skills {
  background-color: #f0f4f8;
  padding: 60px 20px;
  text-align: center;
}

.skills h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.skills-list li {
  background-color: #fff;
  border: 1px solid #d1d5db;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
}

/* Contact Section */
.contact {
  background-color: #ffffff;
  padding: 60px 20px;
  text-align: center;
}

.contact h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.contact p {
  font-size: 17px;
  margin-bottom: 25px;
}

/* Footer */
footer {
  background-color: #111827;
  color: #d1d5db;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 15px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .skills-list {
    flex-direction: column;
    align-items: center;
  }
}
